{% load static %}

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale-1.0">
    <title>Pagina Inicial</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

</head>
<body>
    {% block menu %}
    <div class="bg light">
        Codigo do meu menu
    </div>
    {% endblock %}

    {% block destaque %}
    <div class="bg secondary">
        Figura de destaque
    </div>
    {% endblock %}

    <div class="container">
    {% block conteudo %}
        <h3> Template de Modelo </h3>

        <p>conteudo do site</p>
    {% endblock %}
    </div>
    

    {% block rodape %}
    <div class="">
        rodape
    </div>
    {% endblock %}
    

    <script = "{% static 'js/jsquery-3.4.1.min.js' %}"></script>
    <script = "{% static 'js/bootstrap.min.js' %}"></script>
    <script = "{% static 'js/popper.js' %}"></script>
</body>